@import url(reset.css);
.header {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  .header .logo {
    width: 100%;
    height: 100%; }
  .header .search {
    margin-top: 0.4rem;
    width: 100%;
    height: 0.7rem; }
  .header .city {
    width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 0.15rem; }
  .header .back {
    font-size: 0.52rem;
    line-height: 0.52rem;
    border: 2px solid #ff9344;
    border-radius: 0.3rem;
    text-align: center;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem; }
    .header .back a {
      text-decoration: none;
      color: #333333; }
  .header .title {
    font-size: 0.36rem;
    text-align: center;
    margin-top: 0.2rem; }
  .header .favourite a img {
    width: 100%;
    height: 100%; }

input[type="search"] {
  border: 0.02rem solid #ff9344;
  border-radius: 0.5rem;
  background: url("../images/search.png") right 0.18rem center no-repeat;
  background-size: 0.36rem 0.33rem;
  outline: none;
  padding-left: 0.25rem; }

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0.02rem solid #ff9344;
  background: url("../images/select.png") right 0.1rem center no-repeat;
  background-size: 0.3rem 0.14rem;
  outline: none; }

.content {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%; }
  .content .section {
    padding-top: 0.35rem; }
    .content .section .title {
      font-size: 0.6rem;
      line-height: 1.16rem;
      padding-left: 1.5rem;
      position: relative; }
      .content .section .title a {
        font-size: 0.48rem;
        padding-right: 0.7rem;
        float: right;
        position: relative;
        color: #333333;
        text-decoration: none; }
      .content .section .title a::after {
        content: '';
        display: inline-block;
        width: 0.56rem;
        height: 0.54rem;
        background-image: url("../images/more.png");
        background-size: cover;
        position: absolute;
        top: 0.32rem;
        right: 0; }
    .content .section .title::before {
      content: '';
      display: inline-block;
      background-size: cover;
      margin-right: 0.08rem;
      position: absolute;
      top: 0;
      left: 0; }
    .content .section .list {
      margin-top: 0.38rem; }
      .content .section .list ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 0; }
        .content .section .list ul li {
          flex-basis: 25%;
          text-align: center; }
          .content .section .list ul li img {
            width: 2rem;
            height: 2rem; }

.footer {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10; }
  .footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0; }
    .footer ul li {
      flex-basis: 25%;
      text-align: center; }
      .footer ul li a {
        text-decoration: none; }
        .footer ul li a img {
          width: 0.73rem;
          height: 0.73rem; }
        .footer ul li a p {
          margin-bottom: 0; }

.content .search {
  padding-top: 0.3rem;
  text-align: center; }
  .content .search p {
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 0.52rem; }
  .content .search .search-example {
    width: 80%;
    margin: 0.1rem auto 0; }
    .content .search .search-example ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 0; }
      .content .search .search-example ul li {
        flex-basis: 24%;
        font-size: 0.4rem;
        background-color: #dcdcdc;
        margin-bottom: 0.05rem;
        padding-top: 0.2rem;
        padding-bottom: 0.15rem; }
.content .hot .title::before {
  width: 0.62rem;
  height: 0.94rem;
  background-image: url("../images/hot.png");
  left: 0.2rem; }
.content .hot .hot-list {
  position: relative;
  height: 4rem; }
  .content .hot .hot-list .hot-1 {
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .content .hot .hot-list .hot-2 {
    width: 60%;
    height: 45%;
    position: absolute;
    top: 0;
    right: 0; }
  .content .hot .hot-list .hot-3 {
    width: 27.5%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 40%; }
  .content .hot .hot-list .hot-4 {
    width: 27.5%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0; }
.content .recommendation .title::before {
  width: 0.81rem;
  height: 0.78rem;
  background-image: url("../images/recommendation.png");
  left: 0.2rem; }
.content .recommendation .recommendation-list {
  margin-top: 0.5rem; }
  .content .recommendation .recommendation-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .content .recommendation .recommendation-list ul li {
      flex-basis: 30%;
      margin-bottom: 0.2rem; }
      .content .recommendation .recommendation-list ul li img {
        width: 100%;
        height: 100%; }

/*# sourceMappingURL=discovery.css.map */
