@import "reset.css";

.header{
    padding-top: 0.5rem;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .logo{
        width: 100%;
        height: 100%;
    }

    .search{
        margin-top: 0.4rem;
        width: 100%;
        height: 0.7rem;
    }

    .city{
        width: 100%;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
    }

    .back{
        font-size: 0.52rem;
        line-height: 0.52rem;
        border: 2px solid #ff9344;
        border-radius: 0.3rem;
        text-align: center;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;

        a{
            text-decoration: none;
            color: #333333;
        }
    }

    .title{
        font-size: 0.36rem;
        text-align: center;
        margin-top: 0.2rem;
    }
}

input[type="search"]{
    border: 0.02rem solid #ff9344;
    border-radius: 0.5rem;  
    background: url("../images/search.png") right 0.18rem center no-repeat;
    background-size: 0.36rem 0.33rem;
    outline: none;
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0.02rem solid #ff9344;
    background: url("../images/select.png") right 0.1rem center no-repeat;
    background-size: 0.3rem 0.14rem;
    outline: none;
}

.content{
    overflow-y: scroll;
    width: 100%;

    .section{
        padding-top: 0.35rem;

        .title{
            font-size: 0.6rem;
            line-height: 1.16rem;
            padding-left: 1.5rem;
            position: relative;

            a{
                font-size: 0.48rem;
                padding-right: 0.7rem;
                float: right;
                position: relative;
                color: #333333;
                text-decoration: none;
            }

            a::after{
                content: '';
                display: inline-block;
                width: 0.56rem;
                height: 0.54rem;
                background-image: url("../images/more.png");
                background-size: cover;
                position: absolute;
                top: 0.32rem;
                right: 0;
            }
        }

        .title::before{
            content: '';
            display: inline-block;
            background-size: cover;
            margin-right: 0.08rem;
            position: absolute;
            top: 0;
            left: 0;
        }

        .list{
            margin-top: 0.38rem;

            ul{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin-bottom: 0;

                li{
                    flex-basis: 25%;
                    text-align: center;

                    img{
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
    }
}

.footer{
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 0;

        li{
            flex-basis: 25%;
            text-align: center;

            a{
                text-decoration: none;
                
                img{
                    width: 0.73rem;
                    height: 0.73rem;
                }

                p{
                    margin-bottom: 0;
                }
            }
            
        }
    }
}

